/* formatar a pagina total*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter;

}

/* Header css*/

header {
    height: 130px;
    width: auto;
    background-color: #082047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
}

header img {
    height: 230px;
    width: auto;
}

header nav ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    color: white;
}

header nav ul a {
    text-decoration: none;
    color: white;
}

.botoes-senha a {
    text-decoration: none;
    color: white;
}

.botoes-senha div a {
    color: #082047;
    background-color: white;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 15px;
    margin-right: 15px;
}

.botoes-senha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/*Main agendamentos*/

main {
    height: 850px;
    width: auto;
    background-color: #082047;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-group {
    margin-bottom: 20px;
}

/* Reset da setinha padrão */
summary {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  outline: none;
}

summary::-webkit-details-marker {
  display: none;
}

/* Estilo do Botão (Baseado na imagem) */
.btn-main {
  background: transparent;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 15px 20px;
  border-radius: 5px;
  letter-spacing: 2px;
  width: 300px;
  box-sizing: border-box;
}

/* O "Botão +" dentro da linha */
.btn-add {
  background-color: #fff;
  color: #051937;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  font-weight: bold;
}

/* Conteúdo que aparece ao abrir */
.content {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: none;
  padding: 15px;
  color: #ccc;
  border-radius: 0 0 5px 5px;
}

.content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.content li {
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/*Footer CSS*/

footer {
    height: 260px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.servicos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.servicos a {
    text-decoration: none;
    color: #082047;
}

.if-copy {
    font-size: 14px;
    color: #082047;
}